@import 'variables';

.d-button {
  @extend .button;
  border-radius: 0 !important;
  font-family: $font-family-bold;
  white-space: normal;
  line-height: 1.2;
}

.d-button-delete {
  @extend .delete;
  border-radius: 0 !important;
}

.button-nostyle {
  @extend .button;
  background: transparent !important;
  border: none;
  color: var(--color-link);
  &:disabled {
    color: var(--color-dark);
  }
  &:hover {
    color: var(--color-dark);
  }
}
