   @font-face {
     font-family: acumin-pro;
     src: url("https://use.typekit.net/egg1tbq.css");
     font-weight: 700;
     font-style: normal;
     -webkit-font-smoothing: antialiased; }
   @font-face {
     font-family: acumin-pro-semi-condensed;
     src: url("https://use.typekit.net/egg1tbq.css");
     font-weight: 400;
     font-style: normal;
     -webkit-font-smoothing: antialiased; }