.d-footer {
  @extend .footer;
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-areas:
    '. first .'
    '. second .'
    '. third .';
}
.d-footer-content-first {
  grid-area: first;
}
.d-footer-content-second {
  grid-area: second;
}
.d-footer-content-third {
  display: grid;
  justify-content: center;
  grid-area: third;
}