.narrow-container {
  padding-left: 20rem;
  padding-right: 20rem;
  padding-top: 8rem;
}

blockquote {
  @extend .is-italic;
  @extend .py-3;
  @extend .px-6;
  color: var(--color-gray);
  p {
    font-size: 1.3rem !important;
  }
}

.toc-container {
  display: flex;
  justify-content: center;
  @include tablet {
    margin-top: -5rem;
  }
}
.toc {
  a {
    font-size: $size-4;
  }
}
.main-content {
  @extend .mt-6;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-section {
  @extend .container;
  @extend .px-2;
  @extend .mb-6;
  width: 100%;
  font-size: $size-5;
  h2 {
    font-size: $size-3;
  }
  h3 {
    @extend .mt-4;
    font-size: $size-4;
  }
}
.position-block {
  @extend .py-5;
  @extend .px-5;
  @extend .my-3;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-white-bis);
  box-shadow: 2px 5px 5px var(--color-light);
}
.section-title {
  @extend .py-4;
  @extend .px-4;
  align-items: center;
  background-color: var(--color-link);
  display: flex;
}
.card-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}